/*  body color :#3a3a3a */
* {
    margin: 0;
    padding: 0;
}

/* general css rules 


color for all h1 elements :0d1b2a;
color for all h2 elements 1b263b;
color for p elements : 212529;
*/
/* .form-color {
    background: transparent;
    color: #1b263b;

} */

.margin-bottom {
    margin-bottom: 45px;
}

.margin-bottom-2 {
    margin-bottom: 30px;
}

/*  background image */

.audio-div {
    text-align: Center;
    margin-top: 12px;
}

/* add style to body  */
body {
    display: Flex;
    align-items: center;
    justify-content: center;
    color: #3a3a3a;
    font-family: lato, sans-serif;

}

header {
    width: 95%;
}


/*  background image */

.war-image {
    width: 94vw;
    height: 300px;
    background: url(../images/war-big.avif ) no-repeat center center;

    background-size: cover;
    background-position: 7px center;


}

/*  give styles to first heading named August war */

#h1 {
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 6px;
    color: #ff0000;
    background-color: #000000;
    display: block;
    width: 100%;
    font-weight: 700;
    padding: 3px 0 3px 0;
    border-radius: 9px;
}

/* general rules for  whole container */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.navigation-bar {
    display: flex;
    justify-content: center;



}



.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;


}

.menu li {
    margin: 16px 0 16px 0;
}

.menu a {
    text-decoration: none;
    color: #1b263b;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.menu a:hover {
    color: rgba(255, 0, 0, 0.863);
    border-bottom: 1px solid #3a3a3a;

}

.section-1 {
    position: relative;
}

.image-text {
    width: 200px;
    height: 200px;
    letter-spacing: 2px;
    position: absolute;
    top: 15px;
    left: 15px;

}

.text-on-image {
    font-weight: 700;
    color: #000000;
    font-size: 16px;

}

.section2-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* styling section 2 header named pre war */
.section2-header {
    text-align: center;
    text-transform: uppercase;
    margin: 16px auto;
    font-weight: 700;
    font-size: 24px;
    color: #ff0000;
    background-color: #000000;
    padding: 5px 0 5px 0;
    width: 95%;
    border-radius: 9px;



}

.section2-sub-header {
    margin-top: 12px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #1b263b;

}

.section2-header-div {
    margin-bottom: 16px;
}

.text-div {
    width: 90%;
    border-bottom: 1px solid rgb(160, 27, 27);
    padding: 10px;
    margin-bottom: 12px;
}

.text-div h4 {
    font-size: 20px;
    font-weight: 700;
    color: #1b263b;
    margin-bottom: 6px;
}

.text-div p,
.war-text {
    font-size: 16px;
    font-weight: 400;
    color: 212529;
}

.section3-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}

.section-3 {
    width: 100%;
    margin-bottom: 16px;
}

.section-3 h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
    margin-bottom: 16px;
    background-color: black;
    border-radius: 9px;
    padding: 6px 0 6px 0;
    margin-top: 6px;
    font-weight: 700;

}

.war-title {
    text-align: center;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: 700;
    color: #1b263b;
}



.war-div {
    border: 1px solid rgb(160, 27, 27);
    padding: 6px;
    border-radius: 9px;
    padding: 12px 6px 9px 12px;
    width: 95%;
    /* background-color: transparent; */

}

.last-section {
    width: 92%;
    background-color: #000000;
    padding: 12px;
    border-radius: 9px;
    margin-bottom: 16px;

}

.last-section p {
    color: #ff0000;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.1;

}




.section-3 {
    width: 95%;
    margin-bottom: 16px;
}

.section-3 h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ff0000;
    margin-bottom: 16px;
    background-color: #000000;
    border-radius: 9px;
    padding: 6px 0 6px 0;
    margin-top: 6px;
    font-weight: 700;

}



.war-div {
    border: 1px solid rgb(160, 27, 27);
    padding: 6px;
    border-radius: 9px;
    padding: 12px 6px 9px 12px;
    width: 95%;
    /* background-color: transparent; */

}

.last-section {
    width: 92%;
    background-color: black;
    padding: 12px;
    border-radius: 9px;
    margin-bottom: 16px;

}

.last-section p {
    color: #ff0000;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.1;


}

.footer {
    margin-bottom: 16px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 9px 0 9px 0;
}

.link {
    cursor: pointer;
    color: #000000;
    transition: color 0.3s;
}

.link:hover {
    color: rgb(245, 58, 58);
}


/* gallery page */


#images {
    line-height: 0;
    margin: 26px auto;
    width: 95vw;
}

#images img {
    width: 100%;
    line-height: 6px;
    /* transition: all 0.4s; */


}

/* .contact-form {
    background-image: url(../images/war-background.jpg);
    background-size: 100vw;
    background-position: center;
    height: 100vh;

} */
.contact-form {
    background-image: url("../images/hands-3460021_1920.jpg");
    background-size: cover;
    background-position: center;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}



#form {
    background-color: rgba(29, 26, 26, 0.5);
    max-width: 400px;
    padding: 24px;
    border-radius: 9px;

}

#details-div {
    padding: 9px 0;
    display: Flex;
    flex-direction: column;
    margin-bottom: 9px;
    width: 100%;
}

.feedback {
    width: 95%;
    height: 25vh;
    resize: both;
    overflow: auto;
    border-radius: 9px;
    margin-bottom: 9px;
    background-color: rgba(60, 60, 60, 0.2);
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;

}

label {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 6px;
    margin-left: 4px;
}

.input::placeholder {
    color: #ffffff65;
    font-size: 14px;
    font-weight: 300;
}

textarea::placeholder {
    font-size: 16px;
    color: #ffffff65;
    font-weight: 700;


}

#select-answer {
    padding: 6px 9px;
    border-radius: 9px;
    margin: 9px 0;
    width: 95%;
    background-color: rgba(60, 60, 60, 0.5);
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;

}

.input {
    padding: 9px 12px;
    border-radius: 9px;
    border: none;
    border: 1px solid white;
    width: 89%;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background-color: rgba(60, 60, 60, 0.3);

}


.input:hover,
.feedback:hover,
.select-answer:hover {
    border-color: #ff0000;
}

.option {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: rgba(61, 61, 61, 0.3);

}

.mailing-div {
    border: 1px solid #3a3a3a;
    padding: 6px;
    border-radius: 9px;
    width: 94%;
    margin-bottom: 9px;
    margin-left: 5px;
}

.radio-input {
    margin-bottom: 9px;

}

#form-p {
    margin-bottom: 9px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}

.submit {
    padding: 9px 12px;
    border-radius: 9px;
    border: 1px solid gray;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    background-color: #000000;
    color: red;
}

/* feedback html */
#thank-you-section {
    width: 95vw;


}

.thanks-message {
    max-width: 100%;
    text-align: center;
}

.thanks-message h1 {
    margin-bottom: 16px;
    font-size: 20px;
    color: #1b263b;
    font-weight: 400;

}

.thanks-message p {
    font-size: 16px;
    color: #1b263b;
    font-weight: 400;
    letter-spacing: 1.1px;
}

.thanks-message span {
    text-transform: uppercase;
    font-weight: 700;
}

.video-link {
    max-width: 100%;
    margin: 24px 0 200px 0;



}

.video {
    text-align: center;
    margin-top: 16px;

}



@media (min-width:768px) {

    /* home  */
    .section2-div,
    .section3-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        width: 95%;
        margin: 0 auto;
        grid-gap: 20px;

    }




    .text-div {
        border-bottom: none;
    }

    .war-div {
        border: none;

    }

    .war-div-2 {
        padding-top: 0;
    }


    /* gallery */
    #images {
        display: grid;
        grid-template-columns: 1fr 1fr;

        grid-template-rows: 5;
        gap: 10px;
        padding: 16px;
        line-height: 0;
    }

    #images img {
        border-radius: 5px;
        height: 205px;
        transition: all 0.4s;

    }

    #images img:hover {
        transform: scale(1.05);

    }


}

@media (min-width: 992px) {
    .war-image {
        height: 500px;

    }

    .image-text {
        width: 400px;
        height: 600px;
        margin-left: 20px;
    }

    .text-on-image {
        font-size: 26px;
    }

    #h1,
    .section2-header,
    .section3-header {
        padding: 6px 0 6px 0;
    }

    .section2-sub-header {
        font-size: 22px;
    }

    .text-div h4,
    .war-title {
        font-size: 22px;
    }

    .text-div p,
    .war-text {
        font-size: 20px;
    }

    .last-section {
        height: 80px;
        padding: 25px;
    }

    .last-section p {
        font-size: 22px;
    }

    /* gallery */

    #images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
    }

    #images img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;

    }

    footer {
        width: 100%;
        margin: 10px 0;
    }

    /* feedback html */

    .thanks-message h1 {
        font-size: 24px;

    }

    .thanks-message p {
        font-size: 22px;

    }

    .video-link {
        margin-top: 120px;
    }
}