

* {
    margin: 0;
    padding: 0
}

/*  background image */
.war-image {
    width: 100vw;
    height: 600px;
    background: url(../images/war\ big.avif ) no-repeat center center;
    background-size: cover;
}